/* View Members */
.addMargin {
  margin: 20px;
}

#buttons {
  float: right;
}

.capitalize {
  text-transform: uppercase;
}

.deleteBtn { 
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #485b32;
  font-style: bold;
  border: 2px solid #485b32;
  border-radius: 10px;
  margin: 10px;
}

.deleteBtn:hover {
  background-color: rgb(232, 16, 16);
  border-color: black;
  color: black;
}
.editBtn {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #485b32;
  font-style: bold;
  border: 2px solid #485b32;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px;
}
.editBtn:hover {
  background-color: #1c4863;
  border: 2px solid #1c4863;
  color: white;
}

#editMembers {
  background: rgb(162, 186, 133);
  font-family: Arial, Helvetica, sans-serif;
  }

.editMeeting {
  color: white;
}



html {
  background-color: #1c4863;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#img {
  background-image: url("./cow.jpg");
  background-size: cover;
  height: 420px 
}

input[type=text] {
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  font: black;
}

input[type=password] {
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  font: black;
}

input[type=submit] {
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  font: black;
}
.input {
  color: black;
}
#login {
  font-style: bold;
}
#loginBox {
  margin: 125px; 
}
#mainNav {
background-image: url("./wheatfield.jpg");
}



.meetingItem {
  border: solid 1px;
  border-color: #a2ba85;
  color: white;
 }

 #meetingsbyYear{
   color: white;
 }

 #memberInfo {
   padding: 10px;
 }
.memberList {
  border-bottom: rgb(43, 80, 145) solid 2px;
  padding: 10px;
}

#membersView {
  background: white;
  
}
.names {
  margin: 10px;
  font-size: 15px;
  font-family: Tahoma, Geneva, sans-serif;
}
.names:hover {
  color: blue;
}

#register{
  border: 2px solid black;
  border-radius: 4px;
  margin: 5px;
  font: black;

}

#viewMembers {
  margin: 10px;
}



/* premade css */
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
  }
  
  .instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
  .instructions {
    background-color: #333333;
    color: #DDDDDD;
    padding: 15px;
  }
  
  #entryForm {
    margin-top: 14px;
  }
  
  #container {
    margin-top: 10px;
  }
  
  .container p{
    margin-top : 14px;
  }
  
  .message {
    padding: 10px 0;
  }
  
  .message p {
    margin-left: 10px;
  }
  
  .message:nth-child(odd) {
     background-color: #eeeeee;
  }
  
  .message:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  .btn-danger{
    margin-left: 10px;
  }
  
  .navbar {
    background-color: #333333;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%
  }
  
  .navbar2 {
    background-color: #8e0808;
    width: 100%;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    height: 100%
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    text-decoration: underline;
    color: #eee;
  }