<div class="navbar" ng-controller="UserController as uc"  id="mainNav">
 
    <div class="container">
        <h1 id="welcome" class="lead">Welcome, {{uc.userObject.userName}}!</h1>
      <ul>
        <li class="navLi" ><a href="#/user" class="wheat">Members</a></li>
        <li class="navLi"><a href="#/info" class="wheat">Meetings</a></li>
        <li class="navLi"><a href="#/queries" class="wheat">Queries</a></li>
        <li class="navLi"><a href="#/home"class="wheat" ng-click="uc.userService.logout()">Log Out</a></li>
      </ul>
    </div>
  </div>