<div ng-include="'views/partials/nav.html'"></div>

<div ng-include="'views/partials/meetingsNav.html'"></div>
<body>
	<section class = "row" style="background-color: rgba(255, 253, 248, .9)">
		<div class="col-md-3">
			<div id="globe"></div>
		</div>
		<div class = "col-md-3">
			<section class="row">
				<input type="text" id="topicInput" placeholder="Topic" ng-model="ic.topicIn">
			</section>
			<section class="row" ng-init="ic.runYears()">
				<select ng-model="ic.typeIn">
					<option value="Annual Meeting">Annual Meeting</option>
					<option value="Symposium">Symposium</option>
					<option value="Outreach">Outreach</option>
					<option value="Other">Other</option>
				</select>
				If Other: <input type="text" ng-model="ic.typeIn">
				<select ng-model="ic.monthIn" placeholder="Month">
					<option value="January">January</option>
					<option value="February">February</option>
					<option value="March">March</option>
					<option value="April">April</option>
					<option value="May">May</option>
					<option value="June">June</option>
					<option value="July">July</option>
					<option value="August">August</option>
					<option value="September">September</option>
					<option value="October">October</option>
					<option value="November">November</option>
					<option value="December">December</option>
				</select>
				
				<select ng-model="ic.yearIn" placeholder="Year">
					<option ng-repeat= "year in ic.yearOptions" value="{{year}}" >{{year}}</option>
				</select>
				<input type="text" style="padding-right:150px" placeholder="Hotel" ng-model="ic.hotelIn"><br>
				<input type="text" placeholder="City" style="padding-right:20px" ng-model="ic.cityIn">
				<select placeholder="State" ng-model="ic.stateIn">
					<option value="AL">Alabama</option>
					<option value="AK">Alaska</option>
					<option value="AZ">Arizona</option>
					<option value="AR">Arkansas</option>
					<option value="CA">California</option>
					<option value="CO">Colorado</option>
					<option value="CT">Connecticut</option>
					<option value="DE">Delaware</option>
					<option value="FL">Florida</option>
					<option value="GA">Georgia</option>
					<option value="HI">Hawaii</option>
					<option value="ID">Idaho</option>
					<option value="IL">Illinois</option>
					<option value="IN">Indiana</option>
					<option value="IA">Iowa</option>
					<option value="KS">Kansas</option>
					<option value="KY">Kentucky</option>
					<option value="LA">Louisiana</option>
					<option value="ME">Maine</option>
					<option value="MD">Alaska</option>
					<option value="MA">Alaska</option>
					<option value="MI">Michigan</option>
					<option value="MN">Minnesota</option>
					<option value="MS">Mississippi</option>
					<option value="MO">Missouri</option>
					<option value="MT">Montana</option>
					<option value="NE">Nebraska</option>
					<option value="NV">Nevada</option>
					<option value="NH">New Hampshire</option>
					<option value="NJ">New Jersey</option>
					<option value="NM">New Mexico</option>
					<option value="NY">New York</option>
					<option value="NC">North Carolina</option>
					<option value="ND">North Dakota</option>
					<option value="OH">Ohio</option>
					<option value="OK">Oklahoma</option>
					<option value="OR">Oregon</option>
					<option value="PA">Pennsylvania</option>
					<option value="RI">Rhode Island</option>
					<option value="SC">South Carolina</option>
					<option value="SD">South Dakota</option>
					<option value="TN">Tennessee</option>
					<option value="TX">Texas</option>
					<option value="UT">Utah</option>
					<option value="VT">Vermont</option>
					<option value="VA">Virginia</option>
					<option value="WA">Washington</option>
					<option value="WV">West Virginia</option>
					<option value="WI">Wisconsin</option>
					<option value="WY">Wyoming</option>
				</select><br>
				<input style="margin-bottom:20px;" type="text" placeholder="Country" ng-model="ic.countryIn"><br>
			</section>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<div ng-init = "ic.viewMembers()" style="padding-top:15px">
				<div ng-repeat="member in ic.memberList.data" id="addAttendants">
					<input type="checkbox" ng-model="member.Selected"> 
					{{member.last_name}}, {{member.first_name}}
				</div>
			</div>
		</div>
			<div class="col-md-2">
				<button class="btnAdd" style="float:left; margin-top:20px;" ng-click="ic.addMeeting()">Add</button>
			</div>
			
		</div>
</section>
</body>