<body class="container" ng-init="uc.getServiceTypes()">
    <div ng-include="'views/partials/nav.html'"></div>
    <div ng-include="'views/partials/membersNav.html'"></div>

<section class="row" id ="addMemberInfo">
    <div class="col-md-1"></div>
    <div class="col-md-5" >
        <section class = "row">
        <input type="text" placeholder="First Name" ng-model="uc.firstIn">
        <input type="text" placeholder="Last Name" ng-model="uc.lastIn"><br>
        </section>
        <section class ="row">
        <input type="text" placeholder="Institution" ng-model="uc.InstitutionIn"><br>
        <input type="text" placeholder="Department" ng-model="uc.departmentIn"><br>
        <input type="text" placeholder="Address 1" ng-model="uc.address1In"><br>
        <input type="text" placeholder="Address 2" ng-model="uc.address2In"><br>
        <input type="text" placeholder="Address 3" ng-model="uc.address3In"><br>
        <input type="text" placeholder="City" ng-model="uc.cityIn">
        <input type="text" placeholder="State" ng-model="uc.stateIn">
        <input type="text" placeholder="Zipcode" ng-model="uc.zipIn">
        <input type="text" placeholder="Country" ng-model="uc.countryIn"><br>
        </section>
        <section class = "row">
        <input type="text" placeholder="Phone" ng-model="uc.phoneIn"><br>
        <input type="text" placeholder="Email" ng-model="uc.emailIn">
        <input type="text" placeholder="Website" ng-model="uc.websiteIn"><br>
        <input type="text" placeholder="Member Status" ng-model="uc.statusIn"><br>
        <input type="number" placeholder="Member Since" ng-model="uc.sinceIn"><br>
        <input type="text" placeholder="Publications" ng-model="uc.publicationsIn"><br>
        </section>
    </div>
    <div class="col-md-5">
        <section class="row">
            <h5 class="heading">Add Service:</h5>
        
            <select ng-model="uc.serviceIn" class="dropdown">
                    <option value=1>Executive Committee Member - Elected</option>
                    <option value=2>Executive Committee Member - Representing Funding Agency</option>
                    <option value=4>Other</option>
            </select>
                <input type="number" placeholder="start year" ng-model="uc.startYearIn">
                <input type="number" placeholder="end year" ng-model="uc.endYearIn">
                <input type="text" placeholder="additional information" ng-model="uc.addInfoIn">
            <button class="btnAdd"ng-click="uc.serviceItem(uc.defaultMeeting)">Add</button>
            

        </section>
        <section class = "row">
            <h5 class="heading">Add Meetings:</h5>
                <input type="number" placeholder="year" ng-model="uc.meetingYearIn">
                <button class="btnEdit" ng-click="uc.findMeetingsByYear(uc.meetingYearIn)">Search</button>
        </section>
        <section class="row">
            <ul ng-repeat="meeting in uc.meetingsByYear.data">
                <li>
                    <div  ng-click="addMeeting=!addMeeting">{{meeting.topic}}, {{meeting.type}} {{meeting.month}}</div>
                
                <div ng-hide="!addMeeting">
                    <select ng-model="uc.serviceIn" class="dropdown">
                        <option value=6>Attendance Only</option>
                        <option value=3>Theme Day Organizer</option>
                        <option value=4>Non-Theme Day Organizer</option>
                        <option value=5>Other</option>
                    </select>
                    <input type="text" placeholder="additional information" ng-model="uc.addMeetingInfoIn" ng-disabled="meeting.Selected">
                    <div ng-click="addMeeting=!addMeeting">
                        <button ng-click="uc.serviceItem(meeting.meeting_id)">Add</button>
                    </div>
                </div>
                </li>
            </ul>
        </section>

        <section class = "row">
            <button type="button" class="btnSave" uib-btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-click="uc.addMember()">Save </button>
        </section>
    </div>
    <div class="col-md-1"></div>
</section>


</body>