<div ng-include="'views/partials/nav.html'"></div>

<div ng-include="'views/partials/meetingsNav.html'"></div>

<form>
        <input type="text" placeholder="Type" ng-model="ic.typeIn"><br>
        <input type="text" placeholder="Topic" ng-model="ic.topicIn"><br>
        <input type="text" placeholder="Month" ng-model="ic.monthIn"><br>
        <input type="text" placeholder="Year" ng-model="ic.yearIn"><br>
        <input type="text" placeholder="City" ng-model="ic.cityIn"><br>
        <input type="text" placeholder="State" ng-model="ic.stateIn"><br>
        <input type="text" placeholder="Country" ng-model="ic.countryIn"><br>
        <input type="text" placeholder="Hotel" ng-model="ic.hotelIn"><br>
        <button type="button" ng-click="ic.addMeeting()">Add</button>
    </form>

