
<div ng-include="'views/partials/nav.html'"></div>

<div ng-include="'views/partials/membersNav.html'"></div>

<div ng-init="uc.viewMembers()">

    
    <div ng-repeat="member in uc.allMembers.data">
            <p ng-click="uc.getMember(member.id)">
                    {{member.first_name}} {{member.last_name}}     
          
        </p>
    </div>
        <p>In member response {{uc.memberToEdit.data[0].last_name}}</p>
</div>

<div>
        <input type="search" ng-model="uc.searchLastIn" id="mySearch" name="q">
        <button type="button" ng-click="uc.findMember(uc.searchLastIn)"> Search</button>

        {{}}
</div>


    <!-- {{uc.allMembers.data[0].institution}}, {{uc.allMembers.data[0].department}}
    {{uc.allMembers.data[0].address_1}}
    {{uc.allMembers.data[0].address_2}}
    {{uc.allMembers.data[0].city}}, {{uc.allMembers.data[0].state}}, {{uc.allMembers.data[0].country}}, {{uc.allMembers.data[0].zipcode}}
    {{uc.allMembers.data[0].member_status}}, {{uc.allMembers.data[0].member_year}}
    {{uc.allMembers.data[0].email}}
    {{uc.allMembers.data[0].phone}} -->